{% extends "base.html" %}
{% load static %}


{% block content %}{{ block.super }}

<h3>Région Centre Val-de-Loire</h3>

<!-- TODO legacy code, maybe should delete if no want manual code entry ? -->
<hr/>

<form action="" method="POST">

	{% csrf_token %}
	<div class="form-group">
		<label for="code-input">Entrez votre code :</label>
		<input id="code-input" class="form-control" placeholder="" name="code">
	</div>
	<button class="btn btn-block btn-primary">Accéder au vote</button>

</form>

{% endblock content %}