{% extends "base.html" %}
{% load static %}


{% block content %}{{ block.super }}

<h3>{{ election.name }}</h3>

<small>
	Vote ouvert du {{ election.start|date:"l j F à H\hi" }} au {{ election.end|date:"l j F à H\hi" }}.
</small>

{% if display_vote_form %}

<hr/>

<p>{{ election.description|safe }}</p>

<hr/>

<form action="" method="POST">
{% csrf_token %}

	<fieldset class="form-group">

	{% for option in election.options %}
		<div class="form-check">
			<label class="form-check-label">
				<input type="radio" class="form-check-input" name="vote" value="{{ option.slug }}">
				{{ option.text }}
			</label>
		</div>
	{% endfor %}

	</fieldset>

	<button class="btn btn-block btn-primary">J'enregistre mon vote</button>

</form>

{% endif %}

{% endblock content %}