{% extends "base.html" %}
{% load static %}


{% block content %}{{ block.super }}

<h3>{{ election.name }}</h3>

<small>
	Vote ouvert du {{ election.start|date:"l j F à H\hi" }} au {{ election.end|date:"l j F à H\hi" }}.
</small>

{% if display_vote_form %}

<hr/>

<p>{{ election.description|safe }}</p>

<hr/>

<form action="" method="POST">
{% csrf_token %}

	<fieldset class="form-group">

	{% for option in election.options %}
		<div class="form-check">
			<label class="form-check-label">
				<input 
					{% if election.max_number_of_choices > 1 %}
						type="checkbox"
					{% else %}
						type="radio"
					{% endif %}
					class="form-check-input" name="vote" value="{{ option.slug }}" {% if option.slug in vote.value %}checked{% endif %}>
				{{ option.text }}
			</label>
		</div>
	{% endfor %}

	</fieldset>

	<button class="btn btn-block btn-primary">J'enregistre mon vote</button>

</form>

{% endif %}

{% endblock content %}