{% extends "base.html" %}
{% load static %}


{% block content %}{{ block.super }}

<div style="max-width: 480px; margin: auto;">
<br/>

{% if display_vote_form %}

<h1>Election MoDem</h1>
<h3>Région Centre Val-de-Loire</h3>

<hr/>

<p>La liste unique candidate est celle menée par Franck Piffault. Vous pouvez retrouver ici sa <a target="_blank" href="{% get_static_prefix %}Maq%20PF%20BD.pdf">profession de foi</a>.</p>

<hr/>

<form action="" method="POST">
{% csrf_token %}

	<fieldset class="form-group">
		<div class="form-check">
		<label class="form-check-label">
				<input type="radio" class="form-check-input" name="vote" id="optionsRadios1" value="franck-piffault">
				Je vote pour la liste menée par Franck Piffault
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input type="radio" class="form-check-input" name="vote" id="optionsRadios2" value="blanc">
				Je vote blanc
			</label>
		</div>
	</fieldset>

	<button class="btn btn-block btn-primary">J'enregistre mon vote</button>

</form>

{% else %}
<p>Cette page n'est accessible que par le lien inclus dans les emails de convocation au vote.</p>

{% endif %}
<hr/>

<small>
<p>Le vote est ouvert de samedi 10h à dimanche 16h.</p>
<p>En cas de problème, contactez-nous :<br/>- Par téléphone : 01 53 59 20 78<br/>- Par email : secretariat-general@lesdemocrates.fr</p>
</small>

</div>

{% endblock content %}